/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2017, 5:09:35 PM
    Author     : Imole Akpobome
*/

body{
    /*background-image: url(../img/bg.jpg);*/
}
#container {
    margin: auto;
    width: 900px;
    /*width:1000;*/
    /*height:400px;*/
    /*border-bottom:#66ff66 solid thin;*/
    /*background: linear-gradient(#ccff99 0px, #66ff66);*/
    background: linear-gradient(#fff 40px,#ccc);
    border:#ccc solid thin;
    border-radius: 10px;
    /*background-color: #ccff99;*/
    padding:10px 20px;
    overflow: auto;
    /*background-image:url(../img/fg.jpg);*/
}
#nav{
    margin:auto;
    width:940px;
}
#nav ul
{
    border:#000 solid thin;
    /*border:#66ff66 solid thin;*/
    /*    background-color:#ccff99;*/
    background-color:#333;
    height: 30px;
    padding:5px;
    color:#eee;

}
#nav ul li {
    display:inline;
    padding: 10px 20px;

}
#nav ul li > a, #nav ul li>a:visited {
    text-decoration: none;
    color: #eee;
}

#nav ul li>a:hover {
    color: #999;
    text-shadow:2px 2px  #000;
}

#sidenav{
    float:left;
    padding-right:20px;
}

#sidenav > ul{
    /*    border:#ff00ff thin solid;
        background-color: #ff99cc;*/
    background: linear-gradient(#fff 40px,#ccc);
    border:#ccc solid thin;
    /*background:linear-gradient(#ccff99 0%,#66ff66 100%);*/
    padding:0px;
    height: 400px;
    margin:0px;
    width:auto;
    /*border-radius: 5px 5px 0px 0px;*/ 
}
#sidenav ul li{
    list-style: none;
    padding:5px 20px 5px 20px;
    /*    padding:0px;
        margin:0px;*/
    /*border-radius: 5px;*/
    background-color: #eee;
    border-top:#ddd 1px solid;
    cursor: pointer;
    color: #666;
    /*border:#ffffff solid thin;*/
    /*background: linear-gradient(#ff99cc 0%, #ff00ff 100%);*/
    /*background: linear-gradient(90deg,#f0F 0%,#0ff 33.33%,#ff0 66.67%,#f0f 100%);*/
}

#sidenav ul li ul{
    margin:0px;
    padding:0px;
    border:0px;

}

#sidenav ul li ul li{
    margin:auto;
    padding:5px 8px;
    border:0px;
    font-size:small;

}
.c{
    text-decoration: none;
}


/*#sidenav ul li a{
    border:#ffffff solid thin;
    background: linear-gradient(#ff99cc 0%, #ff00ff 100%);
    background: linear-gradient(90deg,#f0F 0%,#0ff 33.33%,#ff0 66.67%,#f0f 100%);

}*/

/*#sidenav ul li a{
    border:#ffffff solid thin;
    background: linear-gradient(#ff99cc 0%, #ff00ff 100%);
    background: linear-gradient(90deg,#f0F 0%,#0ff 33.33%,#ff0 66.67%,#f0f 100%);
    text-decoration: none;
}*/
#sidenav ul li a:active,a:visited,a:link{
    /*border:#ffffff solid thin;*/
    /*background: linear-gradient(#ff99cc 0%, #ff00ff 100%);*/
    /*background: linear-gradient(90deg,#f0F 0%,#0ff 33.33%,#ff0 66.67%,#f0f 100%);*/
    text-decoration: none;
    color:#666;
    /*padding:5px 20px 5px 20px;*/
}
#content{
}
#content h2{
    text-align: left;
    margin:0px;
    padding:0px;
}
#footer{
    text-align: right;
    margin:auto;
    width:821px;
}

#form{
    display:table;
    /*background-color:#ffffff;*/
    background: linear-gradient(#fff 40px,#ccc);
    padding:0px 10px;
}

#form #row {
    display:table-row;
}
#form #row label {
    display: table-cell;
}
#form #row input {
    display: table-cell;
    margin:10px;
    padding:10px;
}
#form #row .captcha {
    display: table-cell;
    margin:10px;
    padding:10px;
}
#form #caption {
    display:table-row;
    /*text-decoration: underline;*/
    font-weight: bold;

} 
#form #caption p {
    padding:5px;    
    display:table-cell;
    /*border-bottom:#ff00ff thin solid;*/
    border-bottom:#000 thin solid;
    /*background-color: #ff99cc;*/
    background-color: #333;
    color: #eee;
}
.table{
    display: table;
}
.row{
    display: table-row;
}
.cell {
    display: table-cell;
    padding: 5px;
}
.title{
    /*    background: linear-gradient(#fff 40px,#ccc);*/
    border:#ccc thin solid;
    width: 200px;
    margin-left: 20px;
    padding:10px;
    border-radius: 5px 5px 0px 0px;
}
.box{
    background: linear-gradient(#fff 40px,#ccc);
    border:#ccc thin solid;
    width: 200px;
    margin-left: 20px;
    padding:10px;
    border-radius: 0px 0px 5px 5px;
}
input[type^=submit]{
    border: none;
    background-color: #333;
    color: #fff;
}
input[class^=save]{
    border: none;
    background-color: green;
    color: #fff;
}
input[class^=cancel]{
    border: none;
    background-color: red;
    color: #fff;
}
input[class^=edit]{
    border: none;
    background-color: grey;
    color: #fff;
}


#form2{
    display:table;
    /*background-color:#ffffff;*/
    background: linear-gradient(#fff 40px,#ccc);
    padding:0px 10px;
}

#form2 #row {
    display:table-row;
}
#col{
    display:table-column;
}
.reportcell{
    display: table-cell;
    padding:10px 50px 10px 0px;
}
#form2 #row label {
    display: list-item;
    list-style: none;
    margin: 0px 0px 5px 0px;
    padding:0px;
/*    margin-bottom:5px;*/
    font-weight: bold;
}
#form2 #row input {
    display: list-item;
    list-style: none;
    margin:0px;
    padding:0px;
    color: #000;
}
#form2 #row p {
    display: list-item;
    list-style: none;
    margin:0px;
    padding:0px;
    color: darkcyan;
    font-size: 22px;
}


#form2 #row input[type^=submit]{
    display:table-cell;
    margin:10px 5px 10px 0px;
    padding:10px;
    text-align: right;
    color: white;
}

#form2 #row  .edit{
    display:table-cell;
    margin:10px 5px 10px 0px;
    padding:10px;
    text-align: right;
    color: white;
    border:none;
    background-color:  red;
}
#form2 #row .save{
    display:table-cell;
    margin:10px 5px 10px 0px;
    padding:10px;
    text-align: right;
    color: white;
    border:none;
    background-color: green;
}

/*Tab look-alike using list in div with id content*/
#content ul{
    margin:7px;
}
#content li[class="grey"]{
    display:inline;
    margin:0px;
    padding:5px 40px;
    background-color:grey;
    border:none;
    color:white;
}
#content li[class="green"]{
    display:inline;
    margin:0px;
    padding:5px 40px;
    background-color:green;
    border:none;
    color:white;
}
#content li[class="blue"]{
    display:inline;
    margin:0px;
    padding:5px 40px;
    background-color:blue;
    border:none;
    color:white;
}
#content li {
    border-bottom: #333 thin solid;
    cursor: pointer;
}